body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin: 0 auto;
  width: 80%;
  
}

.wrap{
  width: 100%;
  text-align: center;
}

.search{
  width: 50%;
  margin: 0 auto;
  padding: 2%;
  background-color: rgb(220, 236, 255);
}

.search button{
  margin-left: 2%;
  border: none;
  background-color: #0078d7;
  height: 22px;
  color: white;
  font-weight: bold;
}

table{
  margin: 2% auto;
}

tr:nth-child(odd){
  background-color: rgb(201, 201, 201);
}

th:first-of-type{
  width: 50px;
}
th:nth-of-type(2){
  width: 100px;
}
th:nth-of-type(3){
  width: 180px;
}
th:nth-of-type(4){
  width: 100px;
}

th{
  background-color: black;
  color: white;
  letter-spacing: 1px;
  padding: 2%;
}